@model Viddly3.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<h2>Genre: @Model.Genres.Type</h2>
<h2>Release Date: @Model.ReleaseDate</h2>
<h2>Date Added: @Model.DateAdded</h2>
<h2>Number in Stock: @Model.NumberInStock</h2>


